.form-container{
    width: 60vw;
    height: 60vh;
    background: rgba(0,0,0,0.4);
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all 1s ease;
}

.form-container:hover{
   box-shadow: 6px 4px 3px rgb(6, 38, 85);
}

.form-control{
    background: rgba(252, 248, 248, 0.938);
    border: 0 !important;
    box-shadow: none;
}



.form-group label{
    font-size : 1.2rem
}




.notification{
    font-size: 1.4rem;
}