body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right , #B7F8DB, #50A7C2);
  font-family: 'Slabo 27px', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


